<% let year = new Date().getFullYear(); %>


<footer class="foot py-3">
    <div class="text-center p-5">
        <a href="/" class="text-secondary">Archive</a>
        <a href="/"class="mx-3 text-secondary">Privacy-policy</a>
        <a href="/" class="text-secondary">Terms</a>
        <hr>
        <p class="text-secondary ">&copy; <%=year%>  Glenn Marinduque</p>
    </div>
</footer>

