<div class="container-fluid text-center py-4 third_color ">
    <img src="/img/glennn.jpg " style="border-radius: 50%; width: 120px; height: 120px;" alt="pic">
    <div class="h2 mt-2">Glenn Marinduque</div>
  
    <p>Bachelor of Science in Information Technology student at Cebu Institute of  Technology,<br> demonstrating a fervent interest in Backend Development, with a particular focus on <br> JavaScript, ReactJS, and Node Express.</p>

</div>
